
/* ======================== Section topred =========================== */
.topred{
    background-image: url("../Imagas/bg-header.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link{
    color: #fff;
}

/*.topred .row .navbar ul li a:hover{*/
    /*border-bottom: 1px dashed #fff;*/
/*}*/

.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover{
    border-bottom: 1px dashed #fff;
    color: #ffffff;
    padding-bottom: 0;
}

.welcomest{
    height: 400px;
}

.welcomest h1{
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin-top: 20px;
}

.welcomest h4{
    font-family: Roboto+Slab, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.welcomest button{
    margin-top: 20px;
}

.btn_style{
    background-color: rgba(255, 255, 255, 0.0);
    color: white;
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 10px 36px;
}

.btn_style:hover{
    background-color: #fff;
    color:#c0301c;
}

/* =========================Section servis=============================== */

.servis{
    margin-top: 70px;
    margin-bottom: 70px;
}

.servis h5{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
}

.tire{
    margin-bottom: 30px;
    background-color: #555555;
    margin: auto;
}

.servis h6{
    margin-top: 30px;
    font-family: RobotoSlab;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    margin-bottom: 50px;
}

.servis .row h4{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #555555;
}

.servis .row p{
    text-align: justify;
    font-family: RobotoSlab;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
}

/* ===================Section workers======================= */

.workers{
    margin-bottom: 70px;
}

.workers h5{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
}

.tire{
    margin-bottom: 30px;
    background-color: #555555;
    margin: auto;
}

.workers h6{
    margin-top: 30px;
    font-family: RobotoSlab;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    margin-bottom: 50px;
}

.notice{
    text-align: justify;
    font-family: RobotoSlab;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
}



/* *************** CAROUSEL  ***************** */

.big{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #555555;
    margin-top: 5px;
    margin-bottom: 5px !important;
}

.smoll{
    font-family: RobotoSlab;
    font-size: 13px;
    font-weight: 400;
    color: #555555;
}
/* *************** CAROUSEL END ***************** */

/* ================Section gallery============================ */

.gallery h5{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
}

.tire{
    margin-bottom: 30px;
    background-color: #555555;
    margin: auto;
}


.list-unstyled li{
    margin: 15px;
    
}

.list-unstyled li a{
    color: #555555;
}

.list-unstyled li a:hover{
    color: #c0301c;
    text-decoration: none;
}

.mask{
    display: block;
    text-align: center;
    padding-top: 80px;
  }

  .red-text{
      width: 90px;
      height: 30px;
    margin-top: 10px;
  }

  .red-text i{
    padding-right: 2px;
    padding-left: 2px;
  }

.red_questions{
    background: url(../Imagas/bg-questions.png);
    width: 100%;
    height: 280px;
    background-size: cover;
    margin-top: 70px;
}

.red_questions p{
    font-family: RobotoSlab;
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 30px;
}

.picture img{
    width: 100%;
}


/* ===============Section date======================= */

.date h5{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #555555;
    margin-top: 70px;
    margin-bottom: 20px;
}

.tire{
    margin-bottom: 20px;
    background-color: #555555;
    margin: auto;
}

.date h6{
    margin-top: 20px;
    font-family: RobotoSlab;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    margin-bottom: 50px;
}

.blog{
    margin-bottom: 40px;
}
 .blog_img{
    width: 100%;
}

.near{
    display: inline-block;
    vertical-align: middle;
}

.name_dates a{
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #555555;
    margin-left: 10px;
}

.name_dates a:hover{
    color: #c0301c;
}

.name_dates p{
    font-family: RobotoSlab;
    font-size: 13px;
    font-weight: 400;
    color: #777777;
    margin-left: 10px;
}

.name_dates .select{
    text-transform: lowercase;
    font-family: RobotoSlab;
    font-size: 13px;
    font-weight: 400;
    color: #777777;
}

.texts_block .lorem{
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: justify;
}

.texts_block .read_more{
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: RobotoSlab;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.texts_block .read_more a{
    margin-left: 0;
}

.texts_block .read_more:hover{
    color: #c0301c;
}

#demo .carousel-caption{
    color: #555555;
}

#demo .carousel-indicators{
    margin-bottom: -2rem;
}

#demo .carousel-indicators li{
    width: 13px;
    height: 13px;
    background-color: #dddddd;
    border-radius: 50%;
}

#demo .carousel-indicators li:hover{
    background-color: #c0301c;
}

/* ===================Section sponsors===================== */

.sponsors{
    margin-top: 70px;
}

.indent_text{
    margin-bottom: 30px;
}

.logo_sponsor{
    margin: auto;
    text-align: center;
}

.carousel-indicators{
    color: gray;
}



/* ===================Section last_but_one===================== */

.last_but_one{
    margin-top: 70px;
    margin-bottom: 70px;
}

.last_but_one h5{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
}

.last_but_one h6{
    margin-top: 30px;
    font-family: RobotoSlab;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    margin-bottom: 50px;
}

.address i{
    display:inline-block;
    margin-bottom: 10px;
}

.address i a{
    margin-left: 10px;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #555555;
}

.address p{
    margin-left: 20px;
    font-family: RobotoSlab;
    font-size: 12px;
    font-weight: 400;
    color: #555555;
}

.form-control{
    font-family: RobotoSlab;
    font-size: 10px;
    text-transform: uppercase;
    color: #555555;
}

.form-control:hover{
    border-color: #c0301c;
}

.btn.btn-outline-secondary{
    border: 1px solid #555555 !important;
    color: #555555 !important;
}

.send span{
    color: #c0301c;
}

.send a{
    font-family: RobotoSlab;
    font-weight: 400;
    font-size: 12px;
    margin-left: 30px;
}

/* ===================Section footer===================== */

.footer{
    background-color: #c0301c;
    height:200px;
}

.footer .row{
    height:200px;
}

.footer i{
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 5px;
}

.twit{
    margin-bottom: 30px;
}

.fa-twitter:before{
    color: #ffffff;
}

.tire_bottom{
    margin-bottom: 20px;
    background-color: #ffffff;
    margin: auto;
}

.copyright{
    margin-top: 20px;
}

.copyright p{
    font-family: RobotoSlab;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
}

