/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    /* .owl-carousel img{
        width: 200px;
        height: 200px;
    } */

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.mask{
        padding-top: 150px;
      }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 600px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

.date.blog.name_dates+img{
    width: 100%;
}

.mask{
    padding-top: 100px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 320px) {
    .mask{
        padding-top: 50px;
      }
    
    }

